body {
    background-color: #ECF9FF;

  }

  h1 {
    color:#B6E388 ;
  }

  h3 {
    color:#B6E388 ;
  }

  hr {
    border-style: dotted none none;
    width: 100px;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    
  }

  img {
    height: 100px;
